.App {
  text-align: center;
}

.appContianer {
  background-color: #1c77ac;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://i.imgur.com/d0LlyIi.png");
  background-color: #3399cc;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.titlePrompt {
  width: 45vw;
  /* background-image:; */
  display: flex;
  flex-direction: row;
}
.titlePrompt h1 {
  color: #fff;
  text-align: left;
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: normal;
}
.titlePrompt h1 span {
  color: #fff;
  text-align: left;
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: 800;
}

.subHeader {
  color: #fff;
  text-align: left;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: normal;
}
.appContianer img {
  width: 200px;
}

.disclaimer {
  color: #e6e7e8;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Open Sans";
  font-weight: normal;
}

.appContainer2 {
  width: 100%;
  background-color: #005c82;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.appContainer2 p {
  width: 90%;
  margin: 0px;
  padding: 0px;
  color: #e6e7e8;
  font-size: 0.8rem;
  font-family: "Open Sans";
  font-weight: normal;
}
