.App {
  text-align: center;
}

.appContianer {
  background-color: #1c77ac;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background-image: url("https://i.imgur.com/d0LlyIi.png");
  background-color: #3399cc;
  background-position: left; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.titlePrompt {
  width: 600px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  align-self: flex-start;
}
.titlePrompt h1 {
  color: #fff;
  text-align: left;
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: normal;
}
.titlePrompt h1 span {
  color: #fff;
  text-align: left;
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: 800;
}

.subHeader {
  color: #fff;
  text-align: left;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: normal;
}

.pictureConainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}
.pictureConainer div {
  width: 45vw;
  display: flex;
  justify-content: center;
}

.picture {
  height: 600px;
}

.disclaimer {
  color: #e6e7e8;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Open Sans";
  font-weight: normal;
}

.appContainer2 {
  width: 100%;
  background-color: #005c82;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.appContainer2 p {
  width: 90%;
  margin: 0px;
  padding: 0px;
  color: #e6e7e8;
  font-size: 0.8rem;
  font-family: "Open Sans";
  font-weight: normal;
}
